<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true">

	<display-name>Nebula REST Sample</display-name>

    <filter>
        <filter-name>nebule.rest</filter-name><!-- 
        <filter-class>it.trace.nebula.rest.dispatch.DispatcherFilter</filter-class> -->
        <filter-class>it.trace.nebula.rest.sample.filter.MyFilter</filter-class>
        <async-supported>false</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>nebule.rest</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
	
</web-app>
