<style>
<!--

ul.contacts {
	width: 100%
}

ul.contacts li {
	padding: 5px 1em;
	border-bottom: dotted 1px #E1E4E5;
}

ul.contacts .logo {
	float: left;
	height: 3em;
	width: 7em;
}

ul.contacts .content {	
	padding:0;
	margin:0 0 0 7em;
}

ul.contacts .content pre{
	margin-bottom: 3px;
}


div.right{
	float: right;
}
-->
</style>
<article class="module width_full">
<header>
	<h3>ContactRecord</h3>
</header>

<form x-ng-submit="addContactRecord()" class="form-horizontal">
	<div class="control-group" style="clear: both;">
		<label class="control-label">Company</label>
		<div class="controls">
			<select x-ng-model="Company" x-ng-options="c.Name for c in companyList"></select>
		</div>
	</div>
	<div class="control-group" style="clear: both;">
		<label class="control-label">Person</label>
		<div class="controls">
			<select x-ng-model="Person" x-ng-options="c.Name for c in PersonList"></select>
		</div>
	</div>
	<div class="control-group" style="clear: both;">
		<label class="control-label">Company</label>
		<div class="controls">
			<textarea x-ng-model="Content" cols="120" rows="4" class="span6" placeholder="add new contactRecord here"></textarea>
		</div>
	</div>
	<div class="control-group" style="clear: both;">
		<div class="controls">
			<input class="btn btn-primary" type="submit" value="add">
		</div>
	</div>
</form>
</article>

<article class="module width_full">
<header>
	<h3>History</h3>
</header>
<div class="clear:both;"></div>
<span>{{remaining()}} of {{contactRecords.length}} remaining</span> [ <a href="" x-ng-click="archive()">archive</a> ]
<ul class="unstyled contacts ">
	<li x-ng-repeat="contactRecord in contactRecords | orderBy:'-LastUpdated'">
	<div class="logo">
		{{contactRecord.PersonName}}
	</div>
	<div class="content done-{{contactRecord.Done}}">
	<pre>{{contactRecord.Content}}</pre>
	</div>
	<div class="info">{{contactRecord.CompanyName}}<div class="right">{{contactRecord.LastUpdated}} &nbsp;</div></div>
	</li>
</ul>
</article>