<header>
	<h3 class="tabs_involved">Type-{{data.name}}</h3>
	<a href="#/d/{{data.name}}/" x-ng-show="data.standalone != 'BuilderIn'">Edit Data</a>
</header>

<form name="mainForm" x-ng-submit="$save()">
	<div class="field" x-ng-class="{error: myForm.name.$invalid}">
		<label>Name</label><span class=value><input type="text" x-ng-model="data.name" x-ng-readonly="update"/></span>
	</div>
	<div class="field" x-ng-class="{error: myForm.name.$invalid}">
		<label>Parent Type</label><span class=value><a href="#/d/{{typename}}/{{data.parent}}">{{data.parent}}</a></span>
	</div>
	<div class="field" x-ng-class="{error: myForm.name.$invalid}">
		<label>Standalone</label><span class=value>{{data.standalone}}</span>
	</div>
	<div class="field" x-ng-class="{error: myForm.name.$invalid}">
		<label>Detail</label>
		<table class="table tablesorter">
			<thead>
				<tr>
					<th style="width: 10em;">Name</th>
					<th>Type</th>
					<th>Master</th>
					<th>Standalone</th>
				</tr>
			</thead>
			<tbody>
				<tr x-ng-repeat="item in data.fields">
					<td align="left">{{item.name}}</td>
					<td><a href="#/d/Type/{{item.typename}}">{{item.typename}}</a></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="field" x-ng-class="{error: myForm.name.$invalid}">
		<label>Source</label><span class=value><textarea x-ng-model="data.code" class="codeeditor" x-mode="text/nebula" placeholder="add Type info here"></textarea></span>
	</div>
	<div class="action">
		<input class="btn-primary" type="submit" value="save"> 
	</div>
</form>