<article class="module width_full">
	<header>
		<h3 class="tabs_involved">Type-{{data.name}}</h3>
		<a href="#/d/{{data.name}}/" x-ng-show="data.standalone != 'BuilderIn'" class="btn">Edit Data</a>
	</header>
	
	<form x-ng-submit="$save()" class="form-horizontal">
	
	<div class="control-group" style="clear: both;">
		<label class="control-label">Name</label>
		<div class="controls">
			<input type="text" x-ng-model="data.name" x-ng-readonly="update"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Parent Type</label>
		<div class="controls"><a href="#/d/{{typename}}/{{data.parent}}">{{data.parent}}</a></div>
	</div>
	<div class="control-group">
		<label class="control-label">Standalone</label>
		<div class="controls"><span class="input-large uneditable-input">{{data.standalone}}</span></div>
	</div>
	<div class="control-group">
		<label class="control-label">Detail</label>
		<table class="table tablesorter">
			<thead>
				<tr>
					<th>#</th>
					<th style="width: 10em;">Name</th>
					<th>Type</th>
					<th>Master</th>
					<th>Standalone</th>
				</tr>
			</thead>
			<tbody>
				<tr x-ng-repeat="item in data.fields">
					<td>{{$index+1}}</td>
					<td align="left">{{item.name}}</td>
					<td><a href="#/d/Type/{{item.typename}}">{{item.typename}}</a></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="control-group">
		<label class="control-label">Source</label>
		<div class="controls">
			<textarea x-ng-model="data.code" rows="20" cols="120" class="span7" placeholder="add Type info here"></textarea>
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<input class="btn btn-primary" type="submit" value="save"> 
		</div>
	</div>
	
	</form>
</article>
