<article class="module width_full">
	<header>
		<h1 class="tabs_involved">Type</h1>
	</header>
	
	<div id="breadcrumb">
		<a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
		<a href="#" class="tip-bottom">Form elements</a>
		<a href="#" class="current">Common elements</a>
	</div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-align-justify"></i>
						</span>
						<h5>Type List</h5>
						<div class="buttons btn-toolbar" x-ng-show="data.standealone='Master'">
							<input type="text"	x-ng-model="query" class="input-medium btn-mini search-query ctrl" placeholder="Filter"	>
							<a href="#/d/Type/!new" class="btn btn-small btn-success ctrl"><i class="icon-plus icon-white"></i> 新建</a> 
						</div>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th style="width: 2em">#</th>
									<th style="width: 13em" x-ng-click='orderProp="name";orderReverse=nameReverse;nameReverse=!nameReverse '>Name</th>
									<th>Standalone</th>
									<th>Super Type</th>
									<th>Data</th>
									<th>Template</th>
								</tr>
							</thead>
							<tbody>
								<tr x-ng-repeat="data in datalist | filter:'!Abstract' | filter:query | orderBy:orderProp:orderReverse">
									<td>{{$index+1}}</td>
									<td><a href="#/d/{{typename}}/{{data.Name}}">{{data.Name}}</a> <span
											x-ng-repeat="(key, value) in data.NameAlias"
										>&nbsp; {{key}}: {{value}}</span></td>
									<td>{{data.Standalone}}</td>
									<td><a href="#/d/{{typename}}/{{data.SuperType}}">{{data.SuperType}}</a></td>
									<td><a href="#/d/{{data.Name}}/" x-ng-show="data.Standalone=='Master' || data.Standalone=='Transaction'"><i
											class="icon-edit"
										></i> Data</a></td>
									<td><a href="#/t/angularjs/unicorn/{{data.Name}}-list.html"
										x-ng-show="data.Standalone=='Master' || data.Standalone=='Transaction'"
									>List</a> <a href="#/t/angularjs/unicorn/{{data.Name}}-detail.html"
										x-ng-show="data.Standalone=='Master' || data.Standalone=='Transaction'"
									>Detail</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
