/* 
	app css stylesheet 
*/

/* Global */
html {
	overflow-x: hidden;
	overflow-y: scroll;
}

table {
	table-layout: fixed;
	overflow: hidden;
}

[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak
	{
	display: none;
}

/* Main Page */
#search {
	left: 160px;
}

#search button {
	border: 0;
	margin-top: -9px;
	margin-left: -3px;
}
#style-switcher{
	display: none;
}
/* change top level menu font */
#sidebar>ul>li.section a {
	text-transform: uppercase;
	padding: 4px 0 4px 8px;
	font-size: 11px;
	font-weight: 800;
	text-shadow: 0 1px 0 #000;
}

#sidebar,#sidebar>ul {
	width: 160px;
}

#content {
	margin-left: 160px;
}

#user-nav>ul>li>a>i,#sidebar li a i {
	background: none;
}

#sidebar>ul>li>a {
	padding: 4px 0 4px 8px;
}

#sidebar>ul>li>a>i {
	margin-right: 4px;
}

#sidebar>ul>li>ul>li>a>i {
	margin-right: 10px;
}

#content {
	background: url("../img/content_bg.jpg");
	min-height: 600px;
}

#content .innerPanel {
	position: relative;
	min-height: 600px;
}

#content {
	margin-top: -38px;
}

#content article>header {
	background: none;
	min-height: 50px;
	margin-top: 0px;
	margin-bottom: -20px;
	padding-top: 1px;
}

#content article>header h1 {
	margin-top: 10px;
}

#content article>header .btn-toolbar {
	margin-top: -40px;
}

#breadcrumb {
	display: none;
}

#style-switcher {
	top: 39px;
	background: transparent;
}

#style-switcher:hover {
	background-color: #000000;
}

#style-switcher.open {
	background-color: #000000;
}

/* widget */
.widget-box {
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.widget-title{
	height: 32px;
}

.widget-title .buttons {
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	margin: 4px 10px 0 0;
}

.widget-title .buttons input,.widget-title .buttons .btn {
	margin-right: 1em;
}

.widget-title .buttons .btn-small {
	margin-top: 2px;
	margin-bottom: 2px;
}

.widget-content {
	position: relative;
}

.widget-content .nav-tabs {
	margin-bottom: 1px;
}

.widget-content .nav-tabs .buttons {
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	margin: 4px 10px 0 0;
}

.widget-title input.search-query {
	padding-right: 12px;
	padding-right: 12px 9;
	padding-left: 12px;
	padding-left: 12px 9;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 0;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	height: 20px;
	margin-right: 1em;
}

.widget-content>.table-bordered thead:first-child tr:first-child>th:first-child,.widget-content>.table-bordered tbody:first-child tr:first-child>td:first-child,.widget-content>.table-bordered tbody:first-child tr:first-child>th:first-child
	{
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
}

.widget-content>.table-bordered thead tr>th:first-child,.widget-content>.table-bordered tbody tr>td:first-child,.widget-content>.table-bordered tbody tr>th:first-child
	{
	border-left: 0px;
}

.widget-content>.table-bordered {
	border: 1px solid #ddd;
	border-collapse: separate;
	border: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/* Forms */
form {
	margin-bottom: 0;
}

.form-horizontal fieldset>legend {
	margin-bottom: 0px;
}

.widget-box form.form-horizontal {
	margin-bottom: 0px;
}

.widget-box form.form-horizontal .form-actions {
	margin-bottom: 0px;
}

.form-horizontal .control-group {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 0;
}

.form-horizontal .control-group.thin {
	display: inline-block;
	width: 49%;
}

.form-horizontal .control-group.singleline {
	display: block;
	width: 100%;
}

.form-horizontal.form-thin .control-group.thin,.form-horizontal.form-thin .control-group.singleline
	{
	display: block;
	width: 100%;
}

.form-horizontal.form-thin .input-xxlarge {
	width: 90%;
}

.form-horizontal .control-group:last-child {
	border-bottom: 1px solid #eeeeee;
}

.form-horizontal .control-label {
	padding-top: 8px;
	width: 180px;
}

.form-horizontal .controls {
	padding: 3px 0;
}

.form-horizontal .control-label {
	width: 120px;
}

.form-horizontal .controls {
	margin-left: 135px;
}

.widget-box legend+.control-group {
	margin-top: 0px;
}
/*
.form-horizontal input[type=text],.form-horizontal input[type=password],.form-horizontal textarea
	{
	width: 80% !important;
}*/
.form-horizontal .form-actions {
	margin-top: 0;
	margin-bottom: 0;
}

.help-block,.help-inline {
	color: #999999;
}

form.form-horizontal input.ng-valid.ng-dirty {
	background-color: #78FA89;
}

.form-horizontal table tr.newLine input[type=text],.form-horizontal  table tr.newLine input[type=password],.form-horizontal  table tr.newLine textarea
	{
	width: 90% !important;
}

.form-horizontal table tr.newLine .input-append {
	width: 90% !important;
}

.form-horizontal table tr.newLine .input-append input,.form-horizontal table tr.newLine .input-append .uneditable-input
	{
	width: 70% !important;
}

.form-horizontal {
	padding-top: 3px;
}

.form-horizontal  fieldset>legend {
	border-top: 1px solid #ffffff;
	width: 98%;
	margin-bottom: 0px;
	padding-left: 2%;
	border-bottom: 1px solid #C9C9C9;
}

/* modal */
.modal-header .buttons {
	position: absolute;
	right: 40px;
	top: 6px;
}

/* Table */
.table th,.table td {
	padding: 5px;
}

.table th.id {
	text-align: right;
	width: 12%;
	min-width: 100px;
}

.table td.id {
	text-align: right;
}

tr.dataline-D {
	text-decoration: line-through;
	color: grey;
}

/* Other */
div.required>.control-label {
	color: red;
}

.datepicker table {
	width: inherit;
	margin: 0;
}

.mask {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1000;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.opacity {
	opacity: 0.4;
	filter: alpha(opacity =             30);
	background-color: #FFFFFF;
}

/*??*/
.container-fluid .row-fluid:first-child {
	margin-top: 5px;
}