<!-- 
<style type="text/css">
#FishEyeContainer {
	border: 0px;
	z-index: 1000;
}
.FishEye {
	margin: 2px;
	padding: 5px;
	float: center;
	vertical-align: middle;
}
.FishEyeStandard {
	height: 40px;
	width: 40px;
}
</style> 
<div id="FishEyeContainer">		
	<img class="FishEye FishEyeStandard" src="/nebula-rest-sample/img/fisheye/home.png" alt="home" />
	<img class="FishEye FishEyeStandard" src="/nebula-rest-sample/img/fisheye/email.png" alt="contact" />
	<img class="FishEye FishEyeStandard" src="/nebula-rest-sample/img/fisheye/portfolio.png" alt="portfolio" />
	<img class="FishEye FishEyeStandard" src="/nebula-rest-sample/img/fisheye/music.png" alt="music" />
	<img class="FishEye FishEyeStandard" src="/nebula-rest-sample/img/fisheye/video.png" alt="video" />
	<img class="FishEye FishEyeStandard" src="/nebula-rest-sample/img/fisheye/history.png" alt="history" />
	<img class="FishEye FishEyeStandard" src="/nebula-rest-sample/img/fisheye/calendar.png" alt="calendar" />
	<img class="FishEye FishEyeStandard" src="/nebula-rest-sample/img/fisheye/link.png" alt="links" />
	<img class="FishEye FishEyeStandard" src="/nebula-rest-sample/img/fisheye/rss.png" alt="rss" />
	<img class="FishEye FishEyeStandard" src="/nebula-rest-sample/img/fisheye/rss2.png" alt="rss" />
</div>
<script type="text/javascript">
	$("#FishEyeContainer").FishEye({
		fishEyeItemName : ".FishEye",
		maxScalePct : 180,
		scaleStepPct : 60
	});

	$("#FishEyeContainer2").FishEye({
		fishEyeItemName : ".FishEye2",
		maxScalePct : 150,
		scaleStepPct : 40
	});
</script>
</div>
 -->

<ul>
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Content</a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Users</a></li>
    <li><a href="#">Media</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Newsletter</a></li>
    <li><a href="#">Settings</a></li>
</ul>

<!--
<style type="text/css">
/* dock - top */
.dock {
	position: relative;
	height: 50px;
	text-align: center;
}
.dock-container {
	position: absolute;
	height: 50px;
	background: url(../../img/fisheye/dock-bg2.gif);
	padding-left: 20px;
}
a.dock-item {
	display: block;
	width: 40px;
	color: #000;
	position: absolute;
	bottom: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
	border: none;
	margin: 5px 10px 0px;
	width: 100%;
	display: block;
}
.dock-item span {
	display: none;
	padding-left: 20px;
}
</style>
<div class="dock" id="dock">
	<div class="dock-container">
		<a class="dock-item" href="#"><span>Home</span><img src="/nebula-rest-sample/img/fisheye/home.png" alt="home" /></a>
		<a class="dock-item" href="#"><span>Contact</span><img src="/nebula-rest-sample/img/fisheye/email.png" alt="contact" /></a>
		<a class="dock-item" href="#"><span>Portfolio</span><img src="/nebula-rest-sample/img/fisheye/portfolio.png" alt="portfolio" /></a>
		<a class="dock-item" href="#"><span>Music</span><img src="/nebula-rest-sample/img/fisheye/music.png" alt="music" /></a>
		<a class="dock-item" href="#"><span>Video</span><img src="/nebula-rest-sample/img/fisheye/video.png" alt="video" /></a>
		<a class="dock-item" href="#"><span>History</span><img src="/nebula-rest-sample/img/fisheye/history.png" alt="history" /></a>
		<a class="dock-item" href="#"><span>Calendar</span><img src="/nebula-rest-sample/img/fisheye/calendar.png" alt="calendar" /></a>
		<a class="dock-item" href="#"><span>Links</span><img src="/nebula-rest-sample/img/fisheye/link.png" alt="links" /></a>
		<a class="dock-item" href="#"><span>RSS</span><img src="/nebula-rest-sample/img/fisheye/rss.png" alt="rss" /></a>
		<a class="dock-item" href="#"><span>RSS2</span><img src="/nebula-rest-sample/img/fisheye/rss2.png" alt="rss" /></a>
	</div>
</div>
<script type="text/javascript">
$(document).ready(
		function()
		{
			$('#dock').Fisheye(
				{
					maxWidth: 50,
					items: 'a',
					itemsText: 'span',
					container: '.dock-container',
					itemWidth: 40,
					proximity: 90,
					halign : 'center'
				}
			)
		}
	);
</script>
 -->