<!DOCTYPE html>
<html lang="cn">
<head>
<meta charset="utf-8" />
<title>○○××管理系统</title>
<meta name="description" content="nebule-rest的展示工程" />
<meta name="keywords" content="nebule-rest" />
<!-- Favicons -->
<link rel="shortcut icon" type="image/png" href="/nebula-rest-sample/img/favicons/favicon.png"/>
<link rel="icon" type="image/png" href="/nebula-rest-sample/img/favicons/favicon.png"/>
<link rel="apple-touch-icon" href="/nebula-rest-sample/img/favicons/apple.png" />
<!-- Stylesheet -->
<link rel="stylesheet" href="/nebula-rest-sample/css/style.css" type="text/css" />
<link rel="stylesheet" href="/nebula-rest-sample/css/custom.css" type="text/css" />
<link rel="stylesheet" href="/nebula-rest-sample/css/nyroModal.css" type="text/css" />
<!-- Admin template javascript load -->
<script type="text/javascript" src="/nebula-rest-sample/scripts/administry.js"></script>
<!-- jQuery with plugins -->
<script type="text/javascript" src="/nebula-rest-sample/scripts/jquery-1.6.1.js"></script>
<!-- <script type="text/javascript" src="/nebula-rest-sample/scripts/interface.js"></script> -->
<!-- <script type="text/javascript" src="/nebula-rest-sample/scripts/jquery.fisheye.js"></script> -->
<script type="text/javascript" src="/nebula-rest-sample/scripts//jquery.ui.core.min.js"></script> 
<script type="text/javascript" src="/nebula-rest-sample/scripts//jquery.ui.widget.min.js"></script> 
<script type="text/javascript" src="/nebula-rest-sample/scripts//jquery.ui.tabs.min.js"></script> 
<!-- jQuery tooltips -->
<script type="text/javascript" src="/nebula-rest-sample/scripts/jquery.tipTip.min.js"></script>
<!-- Superfish navigation -->
<script type="text/javascript" src="/nebula-rest-sample/scripts/jquery.superfish.min.js"></script>
<script type="text/javascript" src="/nebula-rest-sample/scripts/jquery.supersubs.min.js"></script>
<!-- jQuery form validation -->
<script type="text/javascript" src="/nebula-rest-sample/scripts/jquery.validate.js"></script>
<!-- jQuery popup box -->
<!-- <script type="text/javascript" src="/nebula-rest-sample/scripts/jquery.nyroModal.pack.js"></script> -->
<script type="text/javascript" src="/nebula-rest-sample/scripts/jquery.nyroModal.custom.min.js"></script>
<!--[if IE 6]>
	<script type="text/javascript" src="js/jquery.nyroModal-ie6.min.js"></script>
<![endif]-->
<!-- jQuery graph plugins -->
<script type="text/javascript" src="/nebula-rest-sample/scripts/flot/jquery.flot.min.js"></script>
<!-- jQuery data tables -->
<script type="text/javascript" src="/nebula-rest-sample/scripts/jquery.dataTables.min.js"></script>
<!-- jQuery md5 -->
<script type="text/javascript" src="/nebula-rest-sample/scripts/jquery.md5.js"></script>
<script type="text/javascript">
<!--

$(document).ready(function(){
    
    /* setup navigation, content boxes, etc... */
    Administry.setup();

    Administry.inclue("#topnav", "/nebula-rest-sample/templates/administry/topnav.html");
    Administry.inclue("#menu", "/nebula-rest-sample/templates/administry/menu.html");
    Administry.inclue("#aside-links", "/nebula-rest-sample/templates/administry/aside-links.html");
    Administry.inclue("#main-section", "/nebula-rest-sample/templates/administry/dashboard.html");
    Administry.inclue("#side-section", "/nebula-rest-sample/templates/administry/side-section.html");
    Administry.inclue("#bottom", "/nebula-rest-sample/templates/administry/footer.html");
    Administry.inclue("#animated", "/nebula-rest-sample/templates/administry/footer-animated.html");

});

//-->
</script>
</head>
<body>
    <header id="top">
        <div class="wrapper">
            <div id="title"><img src="/nebula-rest-sample/img/logo.png" alt="Administry" /></div>
            <div id="topnav">
            </div>
            <nav id="menu">
            </nav>
            <aside id="aside-links"></aside> 
        </div>
    </header>
    <div id="pagetitle">
        <div class="wrapper">
            <h1>自定义面板</h1>
        </div>
    </div>
    <div id="page">
        <!-- Wrapper -->
        <div class="wrapper">
                <section id="main-section" class="column width6 first">
                </section>
                <aside id="side-section" class="column width2">
                </aside>
        </div>
    </div>
    <footer id="bottom">
    </footer>
    <footer id="animated">
    </footer>
    <a href="#" id="totop">^ scroll to top</a>
</body>
</html>