<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<title>○○××管理系统</title>
<meta name="description" content="nebule-rest的展示工程" />
<meta name="keywords" content="nebule-rest" />

<base href="/nebula-rest-sample/" />

<!-- Favicons -->
<link rel="shortcut icon" type="image/png" href="/nebula-rest-sample/img/favicons/favicon.png"/>
<link rel="icon" type="image/png" href="/nebula-rest-sample/img/favicons/favicon.png"/>
<link rel="apple-touch-icon" href="/nebula-rest-sample/img/favicons/apple.png" />
<!-- Stylesheet -->
<link rel="stylesheet" href="/nebula-rest-sample/css/style.css" type="text/css" />
<link rel="stylesheet" href="./css/custom.css" type="text/css" />
<link rel="stylesheet" href="./css/nyroModal.css" type="text/css" />
<!-- Admin template javascript load -->
<script type="text/javascript" src="./scripts/administry.js"></script>
<!-- jQuery with plugins -->
<script type="text/javascript" src="./scripts/jquery-1.6.1.js"></script>
<!-- <script type="text/javascript" src="./scripts/interface.js"></script> -->
<!-- <script type="text/javascript" src="./scripts/jquery.fisheye.js"></script> -->
<script type="text/javascript" src="./scripts//jquery.ui.core.min.js"></script> 
<script type="text/javascript" src="./scripts//jquery.ui.widget.min.js"></script> 
<script type="text/javascript" src="./scripts//jquery.ui.tabs.min.js"></script> 
<!-- jQuery tooltips -->
<script type="text/javascript" src="./scripts/jquery.tipTip.min.js"></script>
<!-- Superfish navigation -->
<script type="text/javascript" src="./scripts/jquery.superfish.min.js"></script>
<script type="text/javascript" src="./scripts/jquery.supersubs.min.js"></script>
<!-- jQuery form validation -->
<script type="text/javascript" src="./scripts/jquery.validate.js"></script>
<!-- jQuery popup box -->
<!-- <script type="text/javascript" src="./scripts/jquery.nyroModal.pack.js"></script> -->
<script type="text/javascript" src="./scripts/jquery.nyroModal.custom.min.js"></script>
<!--[if IE 6]>
	<script type="text/javascript" src="js/jquery.nyroModal-ie6.min.js"></script>
<![endif]-->
<!-- jQuery graph plugins -->
<script type="text/javascript" src="./scripts/flot/jquery.flot.min.js"></script>
<!-- jQuery data tables -->
<script type="text/javascript" src="./scripts/jquery.dataTables.min.js"></script>
<!-- jQuery md5 -->
<script type="text/javascript" src="scripts/jquery.md5.js"></script>

<script type="text/javascript">
<!--

$(document).ready(function(){    
    /* setup navigation, content boxes, etc... */
    Administry.setup();    
});

//-->
</script>
</head>
<body>
    <header id="top">
        <div class="wrapper">
            <div id="title"><img src="./img/logo.png" alt="Administry" /></div>
            <div id="topnav" data-href="topnav.html">
            </div>
            <nav class="menu" data-href="menu.html">
            </nav>
            <aside id="aside-links" data-href="aside-links.html"></aside> 
        </div>
    </header>
    <div id="pagetitle">
        <div class="wrapper">
            <h1>自定义面板</h1>
        </div>
    </div>
    <div id="page">
        <!-- Wrapper -->
        <div class="wrapper">
                <section id="main-section" class="column width6 first" data-href="dashboard.html">
                </section>
                <section id="hidden-section" style="display:none">
                </section>
                <aside id="side-section" class="column width2" data-href="side-section.html">
                </aside>
        </div>
    </div>
    <footer id="bottom" data-href="footer.html">
    </footer>
    <footer id="animated" data-href="footer-animated.html">
    </footer>
    <a href="#" id="totop">^ scroll to top</a>
</body>
</html>