<ul class="sf-menu">
    <li class="current"><a id="dashboard" href="/nebula-rest-sample/templates/administry/dashboard.html">面板</a></li>
    <li><a id="user" href="/nebula-rest-sample/templates/administry/user.html">用户</a></li>
    <li><a id="project">项目</a></li>
    <li>
        <a id="duty">假单</a>
        <ul> 
            <li> 
                <a>申请</a> 
            </li> 
            <li> 
                <a>管理...</a> 
                <ul> 
                    <li><a>审批</a></li> 
                    <li><a>查阅</a></li> 
                </ul> 
            </li> 
        </ul> 
    </li>
</ul>