/* app css stylesheet */
.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu>li {
	display: inline;
}

.menu>li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
	content: "";
	padding: 0;
}

div.body {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

div.closed {
	position: absolute;
	visibility: hidden;
}

div.opened {
	position: absolute;
	visibility: visible;
	padding-left: 1em;
}

textarea.codeeditor {
	width: 50em;
	height: 30em;
}

input[type="button"],input[type="reset"],input[type="submit"] {
	margin: 2px 4px;
}

.CodeMirror {
	line-height: 1em;
	font-family: monospace;
	border: 1px solid #DDD;
	margin: 1px;
}

#main h1 {
	margin: .4em 0 .2em 0;
}

#main ul.data {
	padding: 0px;
	list-style: none;
	margin: 1px;
}

#main ul.data li span {
	display: inline-block;
	width: 10em;
	padding: 5px;
	margin: 1px;
	vertical-align: bottom;
}

#main ul.data li span.value {
	vertical-align: bottom;
}

#main .tree { /*background: url(texture-noise.png);*/
	height: 460px;
	width: 700px;
}

#main .tree .node {
	font-family: "Helvetica Neue", Helvetica;
	font-size: .6em;
	fill-opacity: 1;
	color: black;
	padding: 1px 15px;
	margin-top: 5px;
	margin-left: -140px;
	cursor: pointer;
	height: 17px;
	width: 120px;
	text-align: right;
}

#main label {
	display: inline-block;
	margin-bottom: 5px;
	color: #333;
	width: 10em;
	text-align: right;
	padding-right: 1em;
	vertical-align: middle;
}

#main label:AFTER {
	content: ":";
}



/*  POPUP Window  */

#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

#popup-window{
	height:400px;
	width:300px;
	display:none;
	background: #333;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

#popup-content{
	background-color: white;
	overflow: scroll;
	height: 100%;
}

img.btn_close {
	float: right; 
	margin: -28px -28px 0 0;
}

