/* app css stylesheet */

/*
body {
	background: url('../img/page-bg.png') repeat center top;
}
*/

.well{
	background-color: #e3e3e3;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
	background-color: #ededed;
}
